---
name: {{ type }}-{{ distro['name'] }}.{{ output['galaxy_version'] }}: Build and push container images
'on':
  push:
    branches:
      - main
    paths:
      - ./{{ CF_output_path }}
      - ./{{ CI_output_path }}
  schedule:
    - cron: "10 1 * * 0"

jobs:
  build_push:
    name: Build and Push container images to quay.io
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - name: Login to quay.io
        uses: docker/login-action@v1
        with:
          registry: quay.io
{% raw -%}
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
{%- endraw %}
      - name: Build and push image.
        uses: docker/build-push-action@v2
        with:
          context: ./{{ CF_output_dir }}
          file: ./{{ CF_output_path }}
          platforms: {{ DOCKER_PLATFORMS | join(',') }}
          push: true
          tags: {{ all_CI_image_tags | join(',') }} 

# vim: set filetype=jinja.yaml:
